.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    overflow:hidden;
}

.square{
    display: flex;
    outline: 1px solid black;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
}