* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


header {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 50px;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 450px;
  height: 450px;
  overflow:hidden;
  margin-top: 5rem;
}

.square {
  display: flex;
  outline: 1px solid black;
  font-size: 4rem;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
li + li {
  margin-top: 1em;
}

#submit {
  padding: 10px;
  margin: 10px 0 50px;
}

.restart-button, .names-button {
  padding: 10px;
}

.footer {
  margin-top: 3rem;
}

#form-players-name ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  width: 500px;
  min-height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: white;
}

#form-players-name ul.active {
  transform: translate(-50%, -50%) scale(1);

}

#form-players-name ul h2 {
  font-size: 40px;
  color: #333;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}